Daniel F. Ryan <ryand5@tcd.ie> Dan Ryan <ryand5@tcd.ie>
Daniel F. Ryan <ryand5@tcd.ie> DanRyanIrish <ryand5@tcd.ie>
Kristopher Cooper <k.cooper.2@research.gla.ac.uk> Kris Cooper <43237137+KriSun95@users.noreply.github.com>
Kristopher Cooper <k.cooper.2@research.gla.ac.uk> KriSun95 <43237137+KriSun95@users.noreply.github.com>
Laura Hayes <hayesla@tcd.ie> hayesla <hayesla@tcd.ie>
Laura Hayes <hayesla@tcd.ie> Laura Hayes <lahayes@gs671-lhayesmbp.ndc.nasa.gov>
Natalia Bajnokova <n.bajnokova.1@research.gla.ac.uk> Natalia Bajnokova <61255393+natsat0919@users.noreply.github.com>
Samuel Bennett <bennett.sm89@gmail.com> CyclingNinja <bennett.sm89@gmail.com>
Samuel Bennett <bennett.sm89@gmail.com> Samuel Bennett <CyclingNinja@users.noreply.github.com>
Shane A. Maloney <shane.maloney@dias.ie> Shane Maloney <maloneys@tcd.ie>
Shane A. Maloney <shane.maloney@dias.ie> Shane Maloney <shane.maloney@dias.ie
Shane A. Maloney <shane.maloney@dias.ie> Shane Maloney <shane.maloney@tcd.ie>
Stuart J. Mumford <stuart@cadair.com> Stuart Mumford <stuart@cadair.com>
William Setterberg <william.s.setterberg@gmail.com> William Setterberg <sette095@umn.edu>
