name: $(BuildDefinitionName)_$(Date:yyyyMMdd)$(Rev:.rr)
variables:
  CI_NAME: Azure Pipelines
  CI_BUILD_ID: $(Build.BuildId)
  CI_BUILD_URL: "https://dev.azure.com/sunpy/sunxspex/_build/results?buildId=$(Build.BuildId)"
  CIBW_BUILD: cp36-* cp37-* cp38-*
  CIBW_SKIP: "*-win32 *-manylinux1_i686"

resources:
  repositories:
  - repository: samaloney
    type: github
    endpoint: sunpy
    name: samaloney/azure-pipelines-templates
    ref: feat-add-tox-version

trigger:
  branches:
    include:
    - '*'
    exclude:
    - '*backport*'
  tags:
    include:
    - 'v*'
    exclude:
    - '*dev*'
    - '*pre*'
    - '*post*'

jobs:
- template: run-tox-env.yml@samaloney
  parameters:
    toxverspec: <0.4
    submodules: false
    coverage: codecov
    envs:
#      - macos: py38
#        name: py38_test_macos

#      - windows: py37
#        name: py37_win

#      - linux: py38
#        name: py38_lin

      - linux: codestyle
        name: codestyle


# On branches which aren't master, and not Pull Requests, build the wheels but only upload them on tags
- ${{ if and(ne(variables['Build.Reason'], 'PullRequest'), not(contains(variables['Build.SourceBranch'], 'master'))) }}:
  - template: publish.yml@OpenAstronomy
    parameters:
      # Only Upload to PyPI on tags
      ${{ if startsWith(variables['Build.SourceBranch'], 'refs/tags/') }}:
        pypi_connection_name : 'PyPI'

      test_extras: 'test'
      test_command: 'pytest -p no:warnings --doctest-rst -m "not figure" --pyargs sunxspex'
      submodules: false
      targets:
        - wheels_linux
        - wheels_macos
        - sdist
      dependsOn:
        - py38_test_macos
        - py37_test
        - py38_test
